* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ADD8E6;
    padding: 16px 0 4px 0;
}

.container {
    display: flex;
    width: 80%;
    /* border: 2px dashed black; */
    margin: 0 10%;
    background-color: #DAA520;
    /* justify-content: space-between; */
}

.logo {
    display: flex;
    padding: 8px;
    width: 25%;
}

.link {
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 8px 20%;
}

.login {
    display: flex;
    justify-content: flex-end;
    padding: 8px;
    width: 25%;
}

.logo, .link, .login {
    border: 2px dashed black;
    /* padding: 8px; */
}

.link > div {
    margin: 0 8px;
}

.imgheader {
    display: flex;
    justify-content: center;
    background-color: #00008B;
    padding: 50px 3%;
    margin-top: 16px;
}

.imgheader > div {
    background-color: #EE82EE;
    border: 2px dashed black;
    height: 300px;
    width: 700px;
}

.img-container {
    display: flex;
    justify-content: center;
}

.img-container.grey {
    flex-direction: row-reverse;
}

.white {
    background-color: white;
}

.grey {
    background-color: #D3D3D3;
}

.img-container .text {
    background-color: #FFC0CB;
    width: 30%;
}

.img-container .img {
    background-color: #1E90FF;
    width: 50%;
}

.img-container .img, .img-container .text {
    border: 2px dashed black;
    margin: 50px 0;
    height: 400px;
}

.img-container .img.green {
    background-color: #228B22;
    width: 80%;
    height: 600px;
}
